@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #094067;
    --white: #fffffe;
    --primary: #3da9fc;
    --secondary: #90b4ce;
    --tertiary: #ef4565;

    --heder-height: 60px;
    --footer-height: 120px;
    --main-padding-top: 20px;
    --main-max-width: 1300px;
    --font-kiwi-maru: 'Kiwi Maru';
}
@media screen and (max-width: 640px) {
    :root {
        --heder-height: 60px;
        --footer-height: 120px;
        --main-padding-top: 20px;
        --main-max-width: 1300px;
    }
}

@font-face {
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    font-family: 'DotGothic16';
    src: url('/fonts/DotGothic16-Regular.ttf') format('truetype');
}

body {
    font-family: 'DotGothic16';
    scroll-behavior: smooth;
}
header {
    height: var(--heder-height);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    min-height: var(--footer-height);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main {
    padding: 1rem;
    max-width: var(--main-max-width);
    margin: 0 auto;
    min-height: calc(100vh - var(--heder-height) - var(--footer-height));
    padding-top: var(--main-padding-top);
}

/* input numberで上下のボタンを消す */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* マテリアルアイコン関連のCSS */
.material-symbols-outlined.md-18 {
    font-size: 18px;
}
.material-symbols-outlined.md-24 {
    font-size: 24px;
}
.material-symbols-outlined.md-36 {
    font-size: 36px;
}
.material-symbols-outlined.md-48 {
    font-size: 48px;
}
.material-symbols-outlined.md-100 {
    font-size: 100px;
}
.material-symbols-outlined.font-weight-100 {
    font-weight: 100;
}

.side-share-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30px;
    height: 100%;
    z-index: 20;
    position: sticky;
}

.counter-element {
    counter-reset: number 0;
}

.counter-element textarea {
    resize: none !important;
    border: 2px solid var(--primary);
    border-radius: 5px;
}
.counter-element input {
    border: 2px solid var(--primary);
    border-radius: 5px;
}

/* 自動採番 */
.form-card-heading::before {
    counter-increment: number;
    content: counter(number);
    display: block;
    position: relative;
    left: 10px;
    top: 0px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    padding-top: 8px;
    font-size: 24px;
}

.form-card-heading {
    display: flex;
    align-items: center;
    position: relative;
    top: 15px;
    left: -30px;
    z-index: 5;
}

.result-element-heading {
    display: flex;
    align-items: center;
    position: relative;
    top: 15px;
    z-index: 5;
}
